body {
    font-family: Arial, sans-serif;
    background-color: #06cc21;
    text-align: center;
    padding: 50px;
}

button {
    padding: 15px 25px;
    background-color: #a5150b;
    border: none;
    color: white;
    font-size: 22px;
    border-radius: 10px;
}

button:hover {
    background-color: #4f0b77;
}
